
<div class="auth-page">
<div class="overlay"></div>
<div class="stars" aria-hidden="true"></div>
<div class="starts2" aria-hidden="true"></div>
<div class="stars3" aria-hidden="true"></div>
<main class="main">
  <section class="contact">
    <h1 class="title">Thandi Chat Bot</h1>
    <h2 class="sub-title">Please ask me before sending your request to ICT</h2>
  </section>
</main>
<div class="auth-page__logo">
  <div class="auth-page__logo-wrapper">
    <img class="auth-page__logo-img" src="./assets/img/callcentre.png" alt="logo">
    <div class="flier">
      <img src="./assets/img/logo.png" alt="call">
      Powered by Reserve Bank of Malawi ICT
    </div>
  </div>
</div>
</div>
